/* Fonts
   ========================================================================= */

* {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

/* Text-level Semantics
   ========================================================================= */

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4F4F4F;
    padding: 0;
    margin-top: 1.125rem;
    margin-bottom: 0.5rem;
}

.scrollHeaderTitle {
    padding-left: 1rem;
    margin-top: 2rem;
}

.alertCardTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.33rem 0;
    color: white;
    /* white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

.alertPostedDate {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 0 0.33rem 0;
    color: rgba(255, 255, 255, 0.5)
}

.alertExerpt {
    font-size: 0.875rem;
    font-weight: 300;
    white-space: normal;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.5rem;
    line-height: 1.5;
    margin: 0;
    color: rgba(255, 255, 255, 0.8)
}

.notificationCardTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.33rem 0;
    color: #4F4F4F;
    /* white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

.notificationDuration {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.5)
}

.notificationExerpt {
    font-size: 0.875rem;
    font-weight: 300;
    white-space: normal;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.5rem;
    line-height: 1.5;
    margin: 0;
    color: rgba(0, 0, 0, 0.8)
}

.requestTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.33rem 0;
    color: #4F4F4F;
}

.newRequestDate {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.4)
}

.newRequestExerpt {
    font-size: 0.875rem;
    font-weight: 300;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.5rem;
    line-height: 1.5;
    margin: 0;
    color: rgba(0, 0, 0, 0.8)
}

.newRequestStatus {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.4)
}

.bookingDate {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.4)
}

.bookingTime {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
    color: rgba(0, 0, 0, 0.4)
}



/* Grouping Content
   ========================================================================= */

body {
    background-color: #E8E8E8;
    /* max-width: 375px; */
    margin: 0;
}

.alertSection {
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 1rem 1rem 0 1rem; */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
}

main {
    margin: 0;
    /* display: none; */
}

.alertCard {
    width: 288px;
    background-color: #4F4F4F;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    margin-right: 0.5rem;
    /* display: inline-block; */
}

.alertViewMore {
    align-self: center;
    padding-right: 1rem;
}

.alertViewMoreButton {
    width: 288px;
    height: 122.5px;
    background-color: #4F4F4F;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    align-self: center;
    border: none;
    color: white;
    font-size: 1rem;
}

.horizontalScroll {
    padding: 0 0 1rem 1rem;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    /* position: relative; */
    display: flex;
    flex-flow: row nowrap;
}


.notificationSection {
    padding-top: 13rem;
}

.notificationCard {
    background-color: white;
    width: 234px;
    padding: 1rem;
    margin-bottom: 0.125rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    margin-right: 0.5rem;
}

.notificationCardHome {
    width: 234px;
    margin: 0 0.5rem 0.125rem 0;
}

.notificationViewMore {
    align-self: center;
    padding-right: 1rem;
}

.notificationViewMoreButton {
    width: 214px;
    height: 170px;
    background-color:white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    align-self: center;
    border: none;
    color: #4F4F4F;
    font-size: 1rem;
    white-space: normal;
}

.requestUpdates {
    margin: 0 1rem;
}

.newRequestCard {
    background-color: white;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    margin-right: 0.5rem;
}