* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display";
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  margin-top: 2rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right and previous button to left*/
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover,
.dot:active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
p {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

/* sign in button */
button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 343px;
  height: 40px;
  color: white;
  border-radius: 25px;
  background-color: black;
  margin-top: 88px;
}

.tenexform #btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.slideshow-container {
  text-align: center;
}

#welcome {
  margin-top: 100px;
  font-size: 36px;
}

.tenexform {
  text-align: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  margin-top: 72px;
}

input {
  border-radius: 25px;
  padding: 0.5rem 8rem 0.5rem 1rem;
  margin-left: 1rem;
  width: 343px;
  height: 40px;
}
.tenexform p:nth-of-type(1) {
  text-align: right !important;
  font-weight: 400;
  font-size: 12px;
  margin-right: 2rem;
}
.tenexform p:nth-of-type(3) {
  text-decoration: underline;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
