$color_body_bg: #F4F4F4;

$color_body: #4f4f4f;

$color_h2: #4F4F4F;

$date_posted: #4F4F4F;

$booking_card: #4980C1;

$alert_red: #BE0707;

$notif_green: #81b7ae;

$req_orange: #FDAE46;

$color_btn_text: #333333;
$color_btn_sign_in_text: #333333;
$color_btn_sign_in_bg: #DCEBE9;
$color_btn_sign_out_text: #4F4F4F;

$color_my_slides_dot: #E0E0E0;

$color_welcome_text: #333333;

$color_login_bg:#F4F4F4;

$color_input_border: #bdbdbd;

$color_nav_icon: rgb(132, 132, 132);
$color_nav_icon_active: #81B7AE;
$color_nav_bg: white;

::placeholder {
    color: #BDBDBD;
}