@font-face {
  font-family: futuraBold;
  src: url(../../../assets/fonts/futura_bold.otf);
}

@font-face {
  font-family: futuraMedium;
  src: url(../../../assets/fonts/futura_medium_bt.otf);
}

@font-face {
  font-family: SFProDisplaySemibold;
  src: url(../../../assets/fonts/SFProDisplaySemibold.ttf);
}

@font-face {
  font-family: SFProDisplayRegular;
  src: url(../../../assets/fonts/SFProDisplayRegular.ttf);
}

@font-face{
  font-family: SFProDisplayLight;
  src: url(../../../assets/fonts/SFProDisplayLight.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../../../assets/fonts/RobotoMono-Regular.ttf);
}

$font_welcome: futuraBold, sans-serif;
$font_h2: futuraMedium, sans-serif;
$font_h3: SFProDisplaySemibold, sans-serif;
$font_body: SFProDisplayRegular, sans-serif;
$font_light: SFProDisplayLight, sans-serif;
$font_date_posted: SFProDisplayRegular, sans-serif;
$font_booking_date: RobotoMono, monospace;
