* {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  padding: 3rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  /* box-shadow: 0 3px 3px rgba(0,0,0,0.1); */
  border-bottom: 1px solid #bdbdbd;
}

.calendar_header {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #4f4f4f;
  padding: 0;
}

#calendarDate {
  padding: 0.5rem;
  width: 100%;
}

/* navigation bottom styling start */
.app-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #454545;
}

.app-nav .nav {
  height: 100%;
}
.app-nav .nav ul {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.app-nav .nav ul li {
  list-style-type: none;
}

.app-nav .nav ul li button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: #848484;
  background: none;
  border: 0;
}

.app-nav .nav ul li button:active {
  outline: 0;
}

.app-nav .nav ul li button svg {
  margin-bottom: 0.3rem;
}

/* navigation bottom styling end */

.calendarMain {
  padding-bottom: 4rem;
  min-height: 100vh;
  background: #eee;
}

.date_select_wrapper input {
  border: 2px solid #4f4f4f;
}

.selected_date_cards_wrapper {
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.notificationCard, .newRequestCard, .newBookingCard {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  width: 100%;
  margin-top: 1rem;
  height: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.notificationCardTitle,
.requestTitle, .bookingTitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.33rem 0;
  color: #4f4f4f;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.notificationCardTitle,
.requestTitle,
.bookingTitle,
.notificationCard p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.notificationCard p.notificationExerpt, .newRequestCard p.newRequestExerpt {
  font-size: 0.875rem;
  font-weight: 300;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.5rem;
  line-height: 1.5;
}

.notificationCard p:last-of-type, .newRequestCard p:last-of-type, .newBookingCard p:last-of-type {
  margin-bottom: 0;
}

.notificationCard p, .newRequestCard p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
}

.no_events {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.newRequestStatus {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.4);
}

.newRequestDate, .newBookingDate, .bookingDate, .bookingTime, .notificationPostedDate, .notificationPostedTime {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.4);
}

/* Hide element */
.hide_container {
  display: none;
}

/* Back button */
.back_btn {
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  grid-row: 1/1;
}

.visuallyHidden {
  visibility: hidden;
}

/******************************************************************************
      Notification Detail view style starts here
******************************************************************************/

.body_wrapper_notif {
  background-color: #e8e8e8;
}

.body_wrapper_notif main {
  min-height: 100vh;
}

.headerTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #4f4f4f;
  padding: 0;
  margin: 0;
}

.detailCardSection {
  margin: 1rem 1rem 0 1rem;
}

.notifDetailCardTitle {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0.33rem 0;
  color: #4f4f4f;
  text-transform: uppercase;
}

.notifDetailPostedDate {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
}

.notifDetailDuration {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.5);
}

.notifDetaildescription {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

/* Embedded Content
 ========================================================================= */

/* Grouping Content
 ========================================================================= */

#notifDetailHeader {
  background-color: #f4f4f4;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  top: 0;
  padding: 3rem 1rem 1rem 1rem;
}

#notifDetailHeader .topHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notifDetailCard {
  background-color: white;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

/******************************************************************************
      Notification Detail view style ends here
******************************************************************************/