body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #4f4f4f;
  font-family: "roboto", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
}
header > h2 {
  margin: 0 0 0 1rem;
}


.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visuallyHidden {
    visibility: hidden;
  }
  

.hidden {
    display: none!important;
}
main {
  padding: 4rem 1rem 1rem 1rem;
  margin: auto;
  margin-bottom: 6rem;
}
main div {
  max-width: 100%;
  display: block;
  transform: translateY(-18px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1rem;
}

.fas {
  color: gray;
}

#back_btn {
  border: transparent;
  background-color: transparent;
}

/* ============= Accordion ================== */

.accordion {
  cursor: pointer;
  padding: 2rem 1rem 0.5rem 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.first {
  display: flex;
  gap: 2rem;
}

main button {
  background-color: white;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 12%);
}
