
body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #4F4F4F;
    font-family: "roboto", sans-serif;
    }
        
    header{
        background-color: #f4f4f4;
        width: 100%;
      
        position: fixed;
        top: 0;
        z-index: 10;
        padding: 2rem 1rem 1rem 1rem;
            border-bottom: 1px solid #bdbdbd;
     }
    
     .headerTitle {
         margin-bottom: 0;
         font-size: 1.5rem;
        font-weight: 500;
        color: #4f4f4f;
        padding: 0;
     }
     main{
        padding: 7rem .5rem 2.5rem .5rem;
        margin: auto;
    }
    .topHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin: 0.25rem 0; 
    }
    #back_btn{
        border: transparent;
        background-color: transparent;
    }
    h2{
        font-size: 1.1rem;
        margin-left: .5rem;
    }
    
    section{
        margin-bottom: 2rem;
        border-bottom: 1px solid #bdbdbd;
        padding-bottom: 2rem;
    }
    .more{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-repeat: 5px;
    margin: 0 .5rem 0 .5rem;
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 12%);
    }
    .first{
        display: flex;
        flex-flow: row nowrap;
        gap: 3rem;
        align-items: center;
        }
    
    #FAQs{
        margin-top: 1rem;
    }
    
     .fas{
         color: gray;
     }
    
    #signout_btn{
        background-color: #DCEBE9;
         border-radius: 25px;
         box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
         padding: .5rem 1rem;
         width: calc(100% - 1rem);
         border-color: transparent;
         margin-bottom: 4rem;
         color: black;
     }
     .button{
       text-align: center;
        margin-top: 4rem;
    
     }

    
    /* navigation bottom styling */
    .app-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3.5rem;
        background-color: #454545;
    }
    
    .app-nav .nav {
        height: 100%;
    }
    .app-nav .nav ul {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
    .app-nav .nav ul li {
        list-style-type: none;
    }
    
    .app-nav .nav ul li button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
        color: #848484;
        background: none;
        border: 0;
    }
    
    
    .app-nav .nav ul li button:active {
        outline: 0;
    }
    
    .app-nav .nav ul li button svg {
        margin-bottom: 0.3rem;
    }
    
    
    
    
