* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  padding: 3rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  /* box-shadow: 0 3px 3px rgba(0,0,0,0.1); */
  border-bottom: 1px solid #bdbdbd;
}

.back_btn {
  color: #bdbdbd;
}

header h1 {
  margin: 0;
}

.sendRequest_btn {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:focus {
  outline: none;
}

.sendBooking_btn small {
  font-size: 0.6rem;
  text-align: center;
  color: #bdbdbd;
}

.requestForm_main {
  height: calc(100vh - 109px);
  background: #f4f4f4;
}

.requestForm_main form {
  padding: 1rem 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.requestForm_main form > select {
  grid-column: 1 / -1;
  padding: 1rem;
  line-height: 150%;
}

select:required:invalid {
  color: #bdbdbd;
}

#otherrequestCategory {
  padding: 1rem;
  grid-column: 1 / -1;
}

h2 {
  margin: 0;
}

.descriptionAttachment {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.detailsTextArea {
  grid-column: 1 / -1;
  height: max-content;
  margin: 0 -1rem;
}

.detailsTextArea textarea {
  border: 0;
  padding: 1rem;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbdbd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bdbdbd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bdbdbd;
}
