* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.notification_home_header {
  position: sticky;
  top: 0;
  padding: 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  /* box-shadow: 0 3px 3px rgba(0,0,0,0.1); */
  border-bottom: 1px solid #bdbdbd;
}

header h1 {
  margin: 0;
}

main {
  height: calc(100vh - 109px);
  background: #f4f4f4;
}

h2 {
  margin: 0;
}

/* ----- Alert scroll ----- */
.alerts_wrapper {
  overflow: auto;
  white-space: nowrap;
  margin-top: 0.5rem;
}

.alertCard {
  display: inline-block;
  vertical-align: top;
  background-color: #ddd;
  width: 18rem;
  height: 6rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.alertCard:not(:last-of-type) {
  margin-right: 0.25rem;
}

.alertCard h2, .alertCard p {
  white-space: nowrap;
  text-overflow: ellipsis;
    overflow: hidden;
}

.alertCard p {
    margin: 0.3rem 0;
    font-size: 0.8rem;
}

.view_more_alert {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_more_alert a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
}