/* Fonts
   ========================================================================= */

   * {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

/* Text-level Semantics
   ========================================================================= */

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4F4F4F;
    padding: 0;
    margin: 1rem 0;
}

.headerTitle {
    margin: 0;
    font-family: "futura";
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.45);
    margin: 1.25rem 0;
}

p {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;
    color: #4F4F4F;
}

.notificationTitle {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.33rem 0;
    color:#81B7AE;
    font-family: "SF Pro Display";
}

.notificationDescription {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    color: rgba(0, 0, 0, 0.8)
}

.notificationDate,
.notificationTime {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 0.25rem;
    color: #4F4F4F;
}

/* Embedded Content
   ========================================================================= */

/* Grouping Content
   ========================================================================= */

body {
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #f4f4f4;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    padding: 2rem 1rem 1rem 1rem;
}

.headerNotification {
    padding: 1.4rem 1rem 0.4rem 1rem;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 0;
}

button {
    border: none;
}

button svg {
    display: flex;
    margin: auto;
}

.back_btn {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    grid-row: 1/1;
}

.edit_btn {
    background-color: rgba(0, 0, 0, 0);
    color: #4f4f4f;
    font-size: 0.75rem;
}

.detailCardSection {
    margin: 6.5rem 1rem 0 1rem;
}

.notificationHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.25rem;
}

.notificationTitle {
    display: flex;
    align-self: center;
}

.notificationDetail {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

.notificationStatusBar {
    width: 8px;
    height: 100%;
    background-color: #81B7AE;
    ;
    border-radius: 10px;
}

.detailCard {
    background-color: white;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    margin-right: 0.5rem;
}

.notificationDuration {
    margin: 1.5rem 0 1rem 0;
    display: grid;
    grid-gap: 0.5rem;
}

.tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EEEEEE;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    border-radius: 40px;
    margin: 0;
}

.notificationDetailSub {
    display: flex;
    justify-content: flex-end;
}

.visually-hidden {
    opacity: 0;
  }