
body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
 color: #4F4F4F;
 font-family: "roboto", sans-serif;
}
    
header{
    background-color: #f4f4f4;
    width: 100%;
    box-shadow: 0 3px 3px rgb(0 0 0 / 6%);

    padding: 2rem 1rem 1rem 1rem;
 }
 h2{
    font-size: 1.1rem;
}

main{
    margin-left: 1rem;
}
 .fas{
     color: gray;
 }

 .topHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 0.25rem 0; 
}
#back_btn{
    border: transparent;
    background-color: transparent;
}