body {
    max-width: 800px;
    margin: auto;
}

form {
    width: 500px;
    padding: 3rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

label[for="shortDescription"] {
    margin-top: 2rem;
}

button {
    margin-top: 2rem;
}

.hidden {
    display: none;
}