/* Fonts
   ========================================================================= */

* {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

/* Text-level Semantics
   ========================================================================= */

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4F4F4F;
    padding: 0;
    margin: 1rem 0;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.45);
    margin: 1.25rem 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.45);
    padding: 0 1rem;
    margin: 0.75rem 0;
}

.requestTitle {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.33rem 0;
    padding: 0;
    color: #4F4F4F;
}

.newRequestDate {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.4)
}

.newRequestExerpt {
    font-size: 0.875rem;
    font-weight: 300;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.5rem;
    line-height: 1.5;
    margin: 0;
    color: rgba(0, 0, 0, 0.8)
}

.newRequestStatus {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.4)
}

.bookingDate {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 0 0.33rem 0;
    color: rgba(0, 0, 0, 0.4)
}

.bookingTime {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
    color: rgba(0, 0, 0, 0.4)
}


/* Embedded Content
   ========================================================================= */

/* Grouping Content
   ========================================================================= */

body {
    background-color: #E8E8E8;
    margin: 0;
}

header {
    background-color: #f4f4f4;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    padding: 2rem 1rem 1rem 1rem;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 0;
}

main {
    padding: 0 1rem;
}

button {
    border: none;
}

button svg {
    display: flex;
}

svg {
    margin: auto;
}

.activeFilterBackground {
    background-color: #AAAAAA;
}

.activeFilterIcon {
    fill: white;
}

.searchBar {
    display: flex;
    justify-content:flex-end;
    align-self: center;
    grid-column: 3/4;
    margin: 0.75rem 0;
}

.searchBarExpand {
    width: 100%;
}

.searchBarInput {
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(170, 170, 170, 0.25);
    -moz-box-shadow:    inset 0 0 4px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.15);;
    box-shadow:         inset 0 0 4px rgba(0,0,0,0.15);;
    padding: 0 1rem;
    margin-right: 0.25rem;
    width: 88%;
}

::-webkit-input-placeholder {
    color: #AAAAAA;
    font-size: 1rem;
    font-weight: 300;
}

.search_btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(170, 170, 170, 0.25);
    background-color: white;
}

.textFilter_btn {
    height: 32px;
    padding: 0 1rem;
    margin-right: 0.25rem;
    border-radius: 32px;
    border: 1px solid rgba(170, 170, 170, 0.25);
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    color: #AAAAAA;
}

.activeFilterBackground {
    background-color: #AAAAAA;
}

.activeFilterIcon {
    fill: white;
}

main {
    margin-top: 10.75rem;
}

.newRequestCard {
    background-color: white;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.hidden {
    display: none;
}

button:focus {
    outline: none;
}


/* navigation bottom styling start */
.app-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #454545;
  }
  
  .app-nav .nav {
    height: 100%;
  }
  .app-nav .nav ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
  .app-nav .nav ul li {
    list-style-type: none;
  }
  
  .app-nav .nav ul li button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: white;
    background: none;
    border: 0;
  }
  
  .app-nav .nav ul li button:active {
    outline: 0;
  }
  
  .app-nav .nav ul li button svg {
    margin-bottom: 0.3rem;
  }
  
  /* navigation bottom styling end */