.btn_to_login {
  margin: 0 auto;
  width: calc(100% - 2rem);

  /* sign in button */
  button {
    width: 100%;
    padding: 0.5rem 0;
    color: white;
    border-radius: 1.5rem;
    background-color: black;
    margin-top: 5rem;
  }
}

/* New request button styling */
#newRequest_btn {
  position: fixed;
  bottom: 3.5rem;
  right: 0;
}

/* New request booking popup styling */

.new_req_book_wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.6);
}

.new_req_book_card {
  padding: 2rem 1rem;
  height: 13rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

.new_req_book_wrapper .new_req_book_card button {
  background: white;
  border: 1px solid lightgray;
  padding: 1rem 4rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: white;
  background-color: #444;
}

.show_popup {
  display: flex;
}

button:active,
button:focus {
  outline: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #4f4f4f;
  padding: 0;
  margin: 0;
}

.notificationCardTitle,
.requestTitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.33rem 0;
  color: #4f4f4f;
}

.newRequestDate {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.4);
}

.newRequestExerpt {
  font-size: 0.875rem;
  font-weight: 300;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.5rem;
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.newRequestStatus {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.4);
}

.bookingDate {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.4);
}

.bookingTime {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}
