.active {
  background-color: $color_nav_icon_active;
}

.logo_login {
  padding-top: 3.5rem;
}
.btn_to_login {
  margin: 0 auto;
  width: calc(100% - 2rem);

  /* sign in button */
  button {
    width: 100%;
    padding: 0.5rem 0;
    color: $color_btn_sign_in_text;
    border-radius: 1.5rem;
    background-color: $color_btn_sign_in_bg;
    margin-top: 2rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.12);

    &:disabled {
      opacity: 0.5;
    }
  }
}

.tenex_image {
  img {
    width: 100%;
  }
}

input:focus {
  outline: #81B7AE;
}

/* New request button styling */
#newRequest_btn {
  position: fixed;
  bottom: 3.75rem;
  right: 6px;
  z-index: 100;
}

/* New request booking popup styling */
.new_req_book_wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.6);
}

.new_req_book_card {
  padding: 2rem 1rem;
  height: 13rem;
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.new_req_book_wrapper .new_req_book_card button {
  background: white;
  border: 1px solid lightgray;
  padding: 1rem 0;
  border-radius: 0.5rem;
  color: #4f4f4f;

  &:active {
    background-color: #dcebe9;
  }
}

#option_service,
#option_complaint,
#option_general {
  &:active {
    background-color: #dcebe9;
    font-weight: bold;
  }
}

.request_btn_icon,
.booking_btn_icon {
  height: 134.77px;
}

.show_popup {
  display: flex;
}

button:active,
button:focus {
  outline: none;
}

.newRequestExerpt {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.5rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

/* New Request subject input */
.newReq_subject_input {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #dcdcd6;
}

/* New Request description input */
.newReq_description_input {
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  padding: 1rem;
}

/* New Request attachment button */
.attachment_btn,
.newReq_subject_submit,
#snapPhoto,
#retake,
#attachPhoto {
  background-color: #dcebe9;
  border: 1px solid #e0e0e0;
  color: #4f4f4f;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

/* Camera */

video,
canvas,
#attachments_list li {
  border: 0.5rem solid lightgray;
  border-radius: 0.5rem;
}

video {
  width: 100%;
  height: 70%;
  background: black;
}

.camera_feed,
.clicked_camera_feed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  padding-top: 3rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .snap_options {
    margin-top: 2rem;
  }

  .clicked_options {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;

    button {
      width: max-content;
    }
  }
}

#attachments_list {
  li {
    position: relative;

    img {
      position: relative;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      background-color: #ffffff;
    }
  }
}

.statusProgressSent {
  height: 25%;
  background-color: $req_orange;
}

.statusProgressRead {
  height: 50%;
  background-color: $req_orange;
}

.statusProgressCompleted {
  height: 100%;
  background-color: $req_orange;
}

.statusProgressRejected {
  height: 100%;
  background-color: $alert_red;
}

.statusProgressMessage {
  height: 75%;
  background-color: $req_orange;
}

.statusProgressBooked {
  height: 100%;
  background-color: $booking_card;
}

.statusProgressOngoing {
  height: 75%;
  background-color: $req_orange;
}

.text-right {
  float: right;
}

.bg-green {
  background-color: #dcebe9;
}

.bg-gray {
  background-color: #e5e5ea;
}

.textFilter_btn {
  height: 32px;
  padding: 0 0.75rem;
  margin-right: 0.25rem;
  border-radius: 32px;
  border: 1px solid rgba(170, 170, 170, 0.25);
  background-color: white;
  text-transform: uppercase;
  font-weight: 500;
  color: #aaaaaa;
}

.activeFilterText {
  color: white;
}

.activeFilterTextRequest {
  color: #fdae46;
}

.activeFilterTextBooking {
  color: #4980c1;
}

.activeFilterBackground {
  background-color: #aaaaaa;
}

.activeFilterIcon {
  fill: white;
}

.activeFilterNotif svg path {
  fill: #81b7ae;
}

.activeFilterAlert svg path {
  fill: #be0707;
}

#calendarDate {
  width: 12rem;
}


.arrow {
  transition: all 0.3s ease;
  transform: rotate(0deg);
}

.rotate {
  transform: rotate(90deg);
}

// ******************** Notification Offline Illustration **********************

.offline_events {
  text-align: center;
}
