.tenexform {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: $color_login_bg;

  h2 {
    margin: 0;
    padding-top: 3rem;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
    label:last-child {
      margin-top: 1rem;
    }
  }
  #loginForm {
    label {
      width: calc(100% - 2rem);
    }

    input {
      border-radius: 1.5rem;
      border: 1px solid $color_input_border;
      padding: 0.625rem 1.25rem;
      width: 100%;
      box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.12);
    }
  }

  p:nth-of-type(1) {
    text-align: right;
    margin: 0.5rem 1rem 1rem 1rem;
  }

  p:nth-of-type(2) {
    margin-top: 2.5rem;
    margin-bottom: 0.25rem;
  }

  p:nth-of-type(3) {
    text-decoration: underline;
    margin-top: 0;
  }
}
