/******************************************************************************
        Alert card home screen starts here
******************************************************************************/

.notification_home_header,
.tenexbox_header,
.calendar_header,
.archive_header {
  position: sticky;
  top: 0;
  // z-index: 10;
  padding: 1rem 0 0.875rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);

  & > h2 {
    margin: 0 0 0 1rem;
  }
}

.alerts_wrapper {
  margin-top: 0.5rem;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.alerts_wrapper::-webkit-scrollbar {
  display: none;
}

.alertCard {
  background-color: #ffdfdf;
  display: inline-block;
  vertical-align: top;
  width: 20rem;
  height: 7.5rem;
  padding: 1rem;
  margin: 0 0 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.alertCard:first-of-type {
  margin-left: 1rem;
}

.alertCard:last-of-type {
  margin-right: 1rem;
  width: 8.5rem;

  .view_more_alert {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #be0707;
    }
  }
}

.alertCard_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 13.25rem auto;
  grid-gap: 0.25rem;
}

.alertCard_content_wrapper {
  width: 100%;
}

.alertCard_title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.alert_excerpt {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.alertCard_date_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.alertCard_date_wrapper p {
  text-align: center;
  margin: 0;
}

/* Alert Card home screen ends here */

#homeMain {
  min-height: 100vh;
  margin-bottom: 2.5rem;
  background-color: #f4f4f4;
}

/* Notification Card Home screen starts here */

.notificationSection {
  padding: 1.5rem 0 0.875rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  h2 {
    margin: 0 0 0 1rem;
  }
}

.notifications_wrapper {
  margin-top: 0.5rem;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.notifications_wrapper::-webkit-scrollbar {
  display: none;
}

.notifCard {
  background-color: #dcebe9;
  display: inline-block;
  vertical-align: top;
  width: 20rem;
  height: 9.75rem;
  padding: 1rem;
  margin: 0 0 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.notifCard:first-of-type {
  margin-left: 1rem;
}

.notifCard:last-of-type {
  margin-right: 1rem;
  width: 8.5rem;

  .view_more_notif {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #81b7ae;
    }
  }
}

.notifCard_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 13.5rem auto;
  grid-gap: 0.25rem;
}

.notifCard_content_wrapper {
  width: 100%;
}

.notifCard_title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.notif_excerpt {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.notifCard_duration_date_wrapper,
.notifCard_duration_time_wrapper {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: max-content;

  p {
    margin: 0;

    svg {
      margin-bottom: -3px;
    }
  }
}

.newBookingCard_time_wrapper {
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(189, 189, 189, 0.25);
  max-width: max-content;

  p {
    margin: 0;

    svg {
      margin-bottom: -3px;
    }
  }
}

.notifCard_date_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.notifCard_date_wrapper p {
  text-align: center;
  margin: 0;
}

/* Notification Card Home screen ends here */

/* Recent Cards Home screen starts here */

.recentSection {
  margin: 1.5rem 0 0 0;
  padding: 0 1rem 3rem;
  width: 100%;

  h2 {
    margin: 0;
  }
}

.recents_wrapper::-webkit-scrollbar {
  display: none;
}

.newRequestCard {
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.newRequestCard_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
}

.newRequestCard_content_wrapper {
  display: grid;
  grid-template-columns: 0.5rem auto;
  grid-gap: 0.25rem 1rem;
  width: 14rem;
}

.newRequestCard_status_progress_wrapper {
  width: 0.5rem;
}

.newRequestCard_details {
  height: 71px;
  display: block;
}

.newRequestCard_title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.newRequestCard_excerpt {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.newRequestCard_status {
  margin: 0;
  grid-column: 1 / -1;
  align-self: flex-end;
}

.newRequestCard_date_wrapper {
  height: 93px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.newBookingCard_date_for {
  transform: translate(-18px, -52px);
  text-align: center;
  height: 0;
}

.newRequestCard_date_wrapper p {
  text-align: center;
  margin: 0;
}

/* Recent Card Home screen ends here */

/******************************************************************************
      Alert Detail view style starts here
******************************************************************************/

.alertDetailCardTitle {
  margin: 0 0 0.33rem 0;
  display: flex;
  align-self: center;
}

.alertDetailPostedDate {
  margin: 0;
}

.alertDetailDescription {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

#alertDetailHeader {
  background-color: #f4f4f4;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
}

button svg {
  display: flex;
  margin: auto;
}

svg {
  margin: auto;
}

.search_btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(170, 170, 170, 0.25);
  background-color: white;
}

.back_btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  grid-row: 1/1;
}

.alertDetailCard {
  background-color: #4f4f4f;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
}

.alertDetail_wrapper {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.alertHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.25rem;
}

.body_wrapper_alert,
.body_wrapper_book {
  min-height: 100vh;
  background-color: #f4f4f4;
}

.alertDetailDescription {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.alertDetailPostedDate {
  margin: 0;
}

.alertStatusBar {
  width: 8px;
  height: 100%;
  border-radius: 10px;
}

.detailCard {
  background-color: white;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  margin-right: 0.5rem;
}

.alertDetailSub {
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.visuallyHidden {
  visibility: hidden;
}

/******************************************************************************
        Alert Detail view style ends here
******************************************************************************/

/******************************************************************************
        Notification Detail view style starts here
******************************************************************************/

.notificationHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.25rem;
}

.notifDetailCardTitle {
  margin: 0 0 0.33rem 0;
  display: flex;
  align-self: center;
}

.notifDetailPostedDate {
  margin: 0 0 0.33rem 0;
}

.notificationDetail {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.notificationDuration {
  margin: 1.5rem 0 1rem 0;
  display: grid;
  grid-gap: 0.5rem;
}

.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeeeee;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 40px;
  margin: 0;
}

.notifDetaildescription {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.notificationStatusBar {
  width: 8px;
  height: 100%;
  border-radius: 10px;
}

#notifDetailHeader {
  background-color: #f4f4f4;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
}

#notifDetailHeader .topHeader {
  margin: 0;
}

.topHeader {
  padding: 0 0.5rem;
}

.body_wrapper_notif {
  min-height: 100vh;
  background-color: #f4f4f4;
}

.notificationDate,
.notificationTime {
  margin: 0;
  padding: 0 0 0 0.25rem;
  color: #4f4f4f;
}

.notifDetailCard {
  background-color: white;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.notificationDetailSub {
  display: flex;
  justify-content: flex-end;
}

/******************************************************************************
        Notification Detail view style ends here
******************************************************************************/

/******************************************************************************
        Request Detail view style starts here
******************************************************************************/

.body_wrapper_req {
  min-height: 100vh;
  background-color: #f4f4f4;
}

.detailCardSection {
  margin: 1rem;
}

.edit_btn {
  background-color: rgba(0, 0, 0, 0);
  color: #4f4f4f;
}

.newRequestDate {
  margin: 0;
  color: #4f4f4f;
}

.newRequestStatus {
  margin: 0;
  color: #4f4f4f;
}

.description {
  margin: 0 0 2rem 0;
  color: rgba(0, 0, 0, 0.8);
}

.attachmentTitle {
  margin: 0;
  padding: 0 0 0 0.25rem;
  color: #4f4f4f;
}

.requestDetail {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.requestStatusBar {
  width: 8px;
  height: 100%;
  background-color: rgba(253, 174, 70, 0.25);
  border-radius: 10px;

  div {
    border-radius: 10px;
  }
}

.bookingStatusBar {
  width: 0.5rem;
  height: 100%;
  background-color: #4980c1;
  border-radius: 10px;
}

.RequestDetailCard {
  background-color: white;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  margin-right: 0.5rem;
}

.attachmentSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 0.25rem;
}

.attachment {
  margin-top: 0.25rem;
}

.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeeeee;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  border-radius: 40px;
  margin: 0;
}

.requestDetailSub {
  display: flex;
  justify-content: space-between;
}

.tipsInfoSection,
.tipsInfoSectionBooking {
  margin: auto;
  margin: 0 1rem;
  padding-top: 1.5rem;
  text-align: center;
  p {
    font-size: 0.875rem;
    opacity: 0.7;
    margin: 0;
    color: #828282;
  }

  p:first-of-type {
    margin: 1rem 0 0 0;
  }
}

.illustration {
  width: fit-content;
  margin: auto;
}

.main_btn {
  background-color: rgba(0, 0, 0, 0);
  right: 0;
  bottom: 3.75rem;
  position: fixed;
}

/******************************************************************************
        Request Detail view style ends here
******************************************************************************/

/******************************************************************************
        New Request view style starts here
******************************************************************************/
.newRequest_header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);

  h2 {
    margin: 0;
    line-height: 1.5;
  }

  .sendRequest_btn {
    background: none;
  }
}

.requestForm_main {
  background: #f4f4f4;
  min-height: 92vh;
}

.progress_wrapper {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.progress_img {
  margin-top: 2.25rem;
  transform: translateX(17px);
}

.progress_content {
  padding: 0;
  transform: translate(0, 0);

  li {
    list-style-type: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    color: #bdbdbd;

    div:first-of-type {
      margin-top: 2px;
    }
  }
}

.reqForm_current span {
  color: #333333;
}

.options_wrapper {
  padding: 0 1rem 1rem;
}

.options_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  button {
    padding: 1rem 0;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
  }
}

.options_subject,
.options_desciption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#option_service svg,
#option_complaint svg,
#option_general svg,
#option_amenity svg,
#option_appointment svg {
  margin-bottom: 0.5rem;
}

.newReq_subject_submit {
  width: max-content;
  margin-top: 1rem;
}

.attachment_options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  button {
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
  }
}

.options_attachment {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 1rem;
  }
}

#attachments_list {
  padding: 0;
  margin: 0.5rem 0 0 0;

  li {
    list-style-type: none;
    margin-top: 1rem;
  }
}

.requestInfoMain .bookingDate {
  margin: 0;
}

/******************************************************************************
        New Request view style ends here
******************************************************************************/

/******************************************************************************
        Chat view style starts here
******************************************************************************/

#chatHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #f4f4f4;
}

.chat_input {
  flex-grow: 1;

  input {
    border: 1px solid $color_input_border;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    width: 100%;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.12);
  }
}

.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
#messages {
  overflow-y: auto;
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#message-filler {
  flex-grow: 1;
}
.message-container:first-of-type {
  border-top-width: 0;
}
.message-container {
  display: block;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  opacity: 0;
  width: max-content;
  max-width: 70%;
  transition: opacity 0.25s ease-in-out;
}

.chat_bubble_round_manager {
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.chat_bubble_round_user {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}

.message-container.visible {
  opacity: 1;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
}
.message-container .message {
  padding: 0;
  line-height: 1.15;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  color: #3F6E6A;
  font-weight: 600;
  box-sizing: border-box;
}
#message-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 1rem;

  button {
    flex-grow: 1;
    background-color: $notif_green;
    border-radius: 2rem;
    margin-left: 0.5rem;

    &:disabled {
      background-color: #f4f4f4;
    }
  }
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

#user-container #user-name {
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

.mdl-textfield__label:after {
  background-color: #0288d1;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288d1;
}
.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}
/******************************************************************************
        Chat view style ends here
******************************************************************************/

/******************************************************************************
        Tenexbox style starts here
******************************************************************************/

.tenexbox_header {
  z-index: 100;

  .topHeader {
    padding: 0 1rem;

    h2 {
      margin: 0;
    }
  }

  .bottomHeader {
    padding: 0 1rem;
  }
}

.tenexbox_main {
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem 5rem 1rem;
}

/******************************************************************************
        Tenexbox style ends here
******************************************************************************/

/******************************************************************************
        Calendar style starts here
******************************************************************************/

.calendar_header {
  z-index: 100;

  .topHeader {
    padding: 0 1rem;

    h2 {
      margin: 0;
    }

    input[type=date] {
      color: #828282;
      font-family: "SFProDisplayRegular";
      border-radius: 1rem;
      border: 1px solid #DDDDDD;
      padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    }
    
    input[type=date]::-webkit-calendar-picker-indicator::before {
      opacity: 1;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16 2.62727H15V0.510254H13V2.62727H5V0.510254H3V2.62727H2C0.89 2.62727 0.00999999 3.57992 0.00999999 4.74428L0 19.5634C0 20.7277 0.89 21.6804 2 21.6804H16C17.1 21.6804 18 20.7277 18 19.5634V4.74428C18 3.57992 17.1 2.62727 16 2.62727ZM16 19.5634H2V7.91979H16V19.5634ZM4 10.0368H9V15.3293H4V10.0368Z" fill="#333333"/%3E%3C/svg%3E');
    }

  }
}

.calendar_main {
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem 5rem 1rem;

  .no_events {
    margin: 4rem 4rem;
  }
  
  .empty_illustration {
    display: flex;
    justify-content: center;
  }
  
  .no_events p {
    font-size: 1rem;
    color: #828282;
    opacity: 0.7;
    line-height: 1.5;
    text-align: center;
  }
}

#allCards .notifCard {
  width: 100%;
  margin: 0.5rem 0 0 0;
}

.body_wrapper_calendar {
  .notifCard_wrapper {
    grid-template-columns: 14.5rem auto;
  }
}

/******************************************************************************
        Calendar style ends here
******************************************************************************/

/******************************************************************************
        Archive style starts here
******************************************************************************/

/* copied useless code check and delete */
.archive_header {
  z-index: 100;

  .topHeader {
    padding: 0 1rem;

    h2 {
      margin: 0;
    }

    .back_btn {
      display: flex;
      padding-left: 1px !important;
      svg {
        margin-top: 4px;
      }
    }
  }

  .bottomHeader {
    padding: 0 1rem;
  }
}

.filter_btn {
  height: 32px;
  padding: 0 1.5rem;
  margin-right: 0.5rem;
  border-radius: 32px;
  border: 1px solid rgba(170, 170, 170, 0.25);
  background-color: white;
}

.activeFilterBackground {
  background-color: #aaaaaa;
}

.activeFilterIcon {
  fill: white;
}

#notifAlertCards {
  padding: 0 1rem 2.5rem 1rem;

  > :first-child {
    margin-top: 1rem;
  }
}

.notifCardArchive {
  background-color: #dcebe9;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  border-radius: 0.5rem;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.notif_excerpt {
  margin: 0.5rem 0 0.75rem 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.notifCard_duration_date_wrapper,
.notifCard_duration_time_wrapper {
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);

  max-width: max-content;
}

.notifCard_duration_date_wrapper p svg,
.notifCard_duration_time_wrapper p svg {
  margin-bottom: -2px;
}
.notifCard_duration_date_wrapper p svg {
  margin-right: 2px;
}

.notifCard_date_wrapper {
  height: 100%;

  display: flex;

  flex-flow: column nowrap;

  justify-content: space-between;

  align-items: flex-end;
}

#notifAlertCards .notifCard_wrapper {
  grid-template-columns: 14.75rem auto;
}

.body_wrapper_archive .archive_header .back_btn {
  padding-left: 0;

  svg {
    margin-left: 0;
  }
}

.alertCardArchive {
  background-color: #ffdfdf;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 7.5rem;
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.alertCard_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.25rem;
}

.alertCard_content_wrapper {
  width: 100%;
}

button:focus {
  outline: none;
}
/* Copied useless code */

/******************************************************************************
        Archive style ends here
******************************************************************************/

/******************************************************************************
        More style starts here
******************************************************************************/

.body_more {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: $color_body;

  header > h2 {
    margin: 0 0 0 1rem;
  }

  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  main {
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    margin: auto;
  }

  #back_btn {
    border: transparent;
    background-color: transparent;
  }

  h3 {
    margin-left: 0.5rem;
    margin-bottom: 0.75rem;
  }

  section {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
  }

  section:nth-of-type(4) {
    margin-bottom: 1rem;
    border-bottom: none;
  }

  .more {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    background-repeat: 5px;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 1rem 0 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  }

  .first {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
  }

  #FAQs {
    margin-top: 0.5rem;
  }

  #signout_btn {
    background-color: #dcebe9;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    padding: 0.5rem 1rem;
    width: calc(100% - 1rem);
    border-color: transparent;
    margin-bottom: 6rem;
    font-family: $font_h3;
    letter-spacing: 1px;
    color: $color_btn_sign_out_text;
  }
  .button {
    text-align: center;
    margin-top: 2rem;
  }
}

/* Copied code*/

/******************************************************************************
        More style ends here
******************************************************************************/

/******************************************************************************
        Regulations style starts here
******************************************************************************/

.body_regulations {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: $color_body;
  font-family: "roboto", sans-serif;

  header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
  }

  header > h2 {
    margin: 0 0 0 1rem;
  }

  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  main {
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    margin: auto;
  }

  #back_btn {
    border: transparent;
    background-color: transparent;
  }
}

/* Copied code*/

/******************************************************************************
       Regulations style ends here
******************************************************************************/

/******************************************************************************
        FAQs style starts here
******************************************************************************/

.body_FAQs {
  background-color: $color_body_bg;

  header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
  }

  header > h2 {
    margin: 0 0 0 1rem;
  }

  #headerTitle {
    font-family: futuraMedium;
  }

  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .visuallyHidden {
    visibility: hidden;
  }

  .hidden {
    display: none;
  }

  main {
    padding: 1rem;
    margin: auto;
    margin-bottom: 6rem;
  }

  #back_btn {
    border: transparent;
    background-color: transparent;
  }

  /* ============= Accordion ================== */

  .accordion {
    cursor: pointer;
    padding: 1.5rem 1rem 1.5rem 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    transition: flex 0.3s ease-out;
  }

  .accordionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordionTitle svg {
    margin: 0;
  }

  .accordion .first p {
    font-family: SFProDisplayRegular;
    font-size: 1rem;
    color: $color_body;
  }

  .panel {
    font-family: SFProDisplayRegular;
    font-size: 0.875rem;
    color: $color_body;
    line-height: 1.5;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .first {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      margin: 0;
    }
  }

  .second {
    display: flex;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  main button {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.12);
  }
}

/******************************************************************************
        FAQs style ends here
******************************************************************************/