h2 {
  font-family: $font_h2;
  color: $color_h2;
  font-weight: normal;
}

#welcome {
  font-family: $font_welcome;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: $color_welcome_text;
}

h3 {
  font-family: $font_h3;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

p {
  font-family: $font_date_posted;
  line-height: 1.5;
}

.alertCard p,
.notifCard p,
.newRequestCard p,
.alertDetailDescription,
.notifDetaildescription {
  font-size: 14px;
  line-height: 1.5;
  color: $color_body;
}

.alertDetailCardTitle {
  color: $alert_red;
}

.alertStatusBar {
  background-color: $alert_red;
}

.notifDetailCardTitle {
  color: $notif_green;
}

.notificationStatusBar {
  background-color: $notif_green;
}

.newRequestCard .newRequestCard_status,
.alertDetailPostedDate,
.notifDetailPostedDate {
  font-size: 0.75rem;
}

.view_more_alert,
.view_more_notif {
  a {
    font-family: $font_h3;
  }
}

.alertCard_date_wrapper p,
.notifCard_date_wrapper p,
.newRequestCard_date_wrapper p {
  font-size: 0.75rem;
  color: $date_posted;
  line-height: 1.25;
}

.newBookingCard_date_for {
  font-size: 20px;
  line-height: 1;
  font-family: $font_booking_date;
  color: $booking_card;
  text-align: center;

  &::first-line {
    font-size: 12px;
  }
}

.requestForm_main {
  font-family: $font_date_posted;
  font-size: 18px;
  font-weight: 400;
}

.newReq_subject_input {
  font-family: $font_date_posted;
  font-size: 18px;
}

.attachment_btn {
  font-size: 14px;
  letter-spacing: 1.25px;
}

.attachment_options {
  font-size: 14px;
  letter-spacing: 1.25px;
}

.alertDetailCardTitle {
  font-size: 1rem;
}

.booking_date {
  margin: 0;
  font-size: 14px;
}

.slideshow-container {
  .mySlides {
    h2 {
      text-align: center;
      //   font-size: 24px;
      //   font-weight: $font;
    }
    p {
      text-align: center;
      margin: 0.5rem 2rem 2rem 2rem;
      color: $color_body;
      //   font-weight: 300;
      //   font-size: 16px;
    }
  }
  button {
    font-family: $font_h3;
    letter-spacing: 1px;
  }
}

.tenexform {
  button {
    font-family: $font_h3;
    letter-spacing: 1px;
  }

  label input {
    font-family: $font_light;
    letter-spacing: 1px;
    color: $font_body;
  }

  label input::placeholder {
    font-family: $font_light;
    letter-spacing: 1px;
  }

  p:nth-of-type(1) {
    font-weight: 400;
    font-size: 0.8rem;
    color: $color_body;
  }

  p:nth-of-type(2) {
    color: $color_body;
    font-family: $font_light;
  }

  p:nth-of-type(3) {
    color: $color_body;
  }

  .message-container .name {
    font-family: $font_h3;
    font-size: 14px;
  }

  .message-container .message {
    font-family: $font_date_posted;
  }

  #user-container #user-name {
    font-size: 16px;
  }

  .bottomHeader {
    button {
      font-family: $font_date_posted;
    }
  }
}