h2 {
  font-family: $font_h2;
  color: $color_h2;
  font-weight: normal;
}

h3 {
  font-family: $font_h3;
  font-weight: 600;
}

p {
  font-family: $font_date_posted;
  line-height: 1.5;
}

.alertCard p,
.notifCard p,
.newRequestCard p {
  font-size: 14px;
}

.newRequestCard .newRequestCard_status {
  font-size: 0.75rem;
}

.view_more_alert,
.view_more_notif {
  a {
    font-family: $font_h3;
  }
}

.alertCard_date_wrapper p,
.notifCard_date_wrapper p,
.newRequestCard_date_wrapper p {
  font-size: 0.75rem;
  color: $date_posted;
  line-height: 1.25;
}

.newBookingCard_date_for {
  font-size: 20px;
  line-height: 0.9;
  font-family: $font_h3;
  color: $booking_card;
  &::first-line {
    font-size: 12px;
  }
}

.slideshow-container {
  .mySlides {
    h2 {
      text-align: center;
      //   font-size: 24px;
      //   font-weight: $font;
    }
    p {
      text-align: center;
      //   font-weight: 300;
      //   font-size: 16px;
    }
  }
}
