/******************************************************************************
        Alert card home screen starts here
******************************************************************************/

.notification_home_header {
  position: sticky;
  top: 0;
  // z-index: 10;
  padding: 1rem 0 0.875rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);

  & > h2 {
    margin: 0 0 0 1rem;
  }
}

.alerts_wrapper {
  margin-top: 0.5rem;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.alerts_wrapper::-webkit-scrollbar {
  display: none;
}

.alertCard {
  background-color: #ffdfdf;
  display: inline-block;
  vertical-align: top;
  width: 20rem;
  height: 7.5rem;
  padding: 1rem;
  margin: 0 0 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.alertCard:first-of-type {
  margin-left: 1rem;
}

.alertCard:last-of-type {
  margin-right: 1rem;
  .view_more_alert {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #be0707;
    }
  }
}

.alertCard_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 13rem auto;
  grid-gap: 0.5rem;
}

.alertCard_content_wrapper {
  width: 100%;
}

.alertCard_title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.alert_excerpt {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.alertCard_date_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.alertCard_date_wrapper p {
  text-align: center;
  margin: 0;
}

/* Alert Card home screen ends here */

#homeMain {
  min-height: 100vh;
  margin-bottom: 2.5rem;
  background-color: #f4f4f4;
}

/* Notification Card Home screen starts here */

.notificationSection {
  padding: 1.5rem 0 0.875rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  h2 {
    margin: 0 0 0 1rem;
  }
}

.notifications_wrapper {
  margin-top: 0.5rem;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.notifications_wrapper::-webkit-scrollbar {
  display: none;
}

.notifCard {
  background-color: #dcebe9;
  display: inline-block;
  vertical-align: top;
  width: 20rem;
  height: 10.5rem;
  padding: 1rem;
  margin: 0 0 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.notifCard:first-of-type {
  margin-left: 1rem;
}

.notifCard:last-of-type {
  margin-right: 1rem;

  .view_more_notif {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #81b7ae;
    }
  }
}

.notifCard_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 13rem auto;
  grid-gap: 0.5rem;
}

.notifCard_content_wrapper {
  width: 100%;
}

.notifCard_title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.notif_excerpt {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.notifCard_duration_date_wrapper,
.notifCard_duration_time_wrapper {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: max-content;

  p {
    margin: 0;

    svg {
      margin-bottom: -3px;
    }
  }
}

.newBookingCard_time_wrapper {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(189, 189, 189, 0.25);
  max-width: max-content;

  p {
    margin: 0;

    svg {
      margin-bottom: -3px;
    }
  }
}

.notifCard_date_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.notifCard_date_wrapper p {
  text-align: center;
  margin: 0;
}

/* Notification Card Home screen ends here */

/* Recent Cards Home screen starts here */

.recentSection {
  margin: 1.5rem 0 0 0;
  padding: 0 1rem 3rem;
  width: 100%;

  h2 {
    margin: 0;
  }
}

.recents_wrapper::-webkit-scrollbar {
  display: none;
}

.newRequestCard {
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.newRequestCard_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
}

.newRequestCard_content_wrapper {
  display: grid;
  grid-template-columns: 0.5rem auto;
  grid-gap: 0.25rem 1rem;
  width: 14rem;
}

.newRequestCard_status_progress_wrapper {
  width: 0.5rem;
}

.newRequestCard_details {
  display: block;
}

.newRequestCard_title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.newRequestCard_excerpt {
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}

.newRequestCard_status {
  margin: 0;
  grid-column: 1 / -1;
}

.newRequestCard_date_wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.newBookingCard_date_for {
  transform: translateY(-46px);
  text-align: center;
  height: 0;
}

.newRequestCard_date_wrapper p {
  text-align: center;
  margin: 0;
}

/* Recent Card Home screen ends here */

/******************************************************************************
      Alert Detail view style starts here
******************************************************************************/

/* Text-level Semantics
   ========================================================================= */

#alertDetailHeader h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #4f4f4f;
  padding: 0;
  margin: 1rem 0;
}

#alertDetailHeader .headerTitle {
  margin: 0;
}

.alertDetailCardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 0.33rem 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
}

.alertDetailPostedDate {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
  color: rgba(255, 255, 255, 0.5);
}

.alertDetailDescription {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

#alertDetailHeader {
  background-color: #f4f4f4;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  padding: 2rem 1rem 1rem 1rem;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

button {
  border: none;
}

button svg {
  display: flex;
  margin: auto;
}

svg {
  margin: auto;
}

.search_btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(170, 170, 170, 0.25);
  background-color: white;
}

.back_btn {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  grid-row: 1/1;
}

.detailCardSection {
  margin: 7.5rem 1rem 0 1rem;
}

.alertDetailCard {
  background-color: #4f4f4f;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
  margin: 0.5rem 0;
}

.hidden {
  display: none;
}

.visuallyHidden {
  visibility: hidden;
}

/******************************************************************************
        Alert Detail view style ends here
  ******************************************************************************/

/******************************************************************************
        Notification Detail view style starts here
  ******************************************************************************/

.notifDetailCardTitle {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0.33rem 0;
  color: #4f4f4f;
  text-transform: uppercase;
}

.notifDetailPostedDate {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
}

.notifDetailDuration {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 0 0.33rem 0;
  color: rgba(0, 0, 0, 0.5);
}

.notifDetaildescription {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

#notifDetailHeader {
  background-color: #f4f4f4;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  padding: 2rem 1rem 1rem 1rem;
}

#notifDetailHeader .topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.notifDetailCard {
  background-color: white;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

/******************************************************************************
        Notification Detail view style ends here
******************************************************************************/

/******************************************************************************
        New Request view style starts here
******************************************************************************/
.newRequest_header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);

  h2 {
    margin: 0;
    line-height: 1.5;
  }

  .sendRequest_btn {
    background: none;
  }
}

.requestForm_main {
  background: #f4f4f4;
  min-height: 92vh;
}

.progress_wrapper {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.progress_img {
  margin-top: 2.25rem;
  transform: translateX(17px);
}

.progress_content {
  padding: 0;
  transform: translate(0, 0);

  li {
    list-style-type: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    color: #bdbdbd;

    div:first-of-type {
      margin-top: 2px;
    }
  }
}

.reqForm_current span {
  color: #333333;
}

.options_wrapper {
  padding: 0 1rem 1rem;
}

.options_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  button {
    padding: 1rem 0;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
  }
}

.options_subject, .options_desciption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newReq_subject_submit {
  width: max-content;
  margin-top: 1rem;
}

.attachment_options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  button {
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
  }
}

.options_attachment {
  display: flex;
  justify-content: flex-end;

  button {
    margin-top: 1rem;
  }
}

#attachments_list {
  padding: 0;
  margin: 0.5rem 0 0 0;

  li {
    list-style-type: none;
    margin-top: 1rem;
  }
}

/******************************************************************************
        New Request view style ends here
******************************************************************************/
